@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700);

body { font-family: 'Merriweather', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; }
h1, h2, h3 {
  font-family: 'Lato';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Fira Mono', 'Lucida Console', Monaco, monospace; }

.title-slide {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)),
    url("../images/Kruger.jpg");
  background-size: cover;
}

.slide-2 {
  background: linear-gradient(to right, rgba(255,255,255,.9), rgba(255,255,255,.4)), url("../images/slide2.jpg");
  background-position: center;
}

.smoke {
  color: #3c3c3c;
}
.pink {
  color: #ff598f;
}
.orange {
  color: #fd8a5e;
}
.yellow {
  color: #e0e300;
}
.blue {
  color: #01dddd;
}
.turquoise {
  color: #00bfaf;
}
.shadow {
  text-shadow: 3px 3px 12px #7c7c7c;
}
